body{
    background-color: #EFA8CA;
    margin: 0;
    width: 100%;
    height: 100%;
}
.pag1{
    background-color: #EFA8CA;
}
.text-inicial{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 50px;
    padding-left: 150px;
    margin-bottom: 50px;
}
.text-inicial h1{
    display: flex;
    position: relative;
    right: 200px;
    width: 530px; 
    height: 250px;
    padding: 50px;
    margin: 150px;
    border-radius: 10px;
    background-color: #ED63A1;
    font-size: 30px;
}
.pag1 .text-inicial img{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 150px;
    right: 80px;
    padding-left: 50px;
    margin-bottom: 50px;
    
}
.imagem1 img{
    position: absolute; 
    top: -20px;
}

/*pagina 2*/

.pag2 .text2 img{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 550px;
    left: 60px;
    padding-bottom: 150px;
}
.pag2 .text2 p{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align:justify;
    top: -150px;
    left: 1200px;
    color: #fff;
    font-size: 25px;
    font-style:normal;
    font-weight: 500;
}

/*pag 3*/

.pag3 .text3 img{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 700px;
    height: 600px;
    top: 250px;
    left: 60px;
    
    
}
.pag3 .text3 p{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align:justify;
    top: -150px;
    left: 1200px;
    color: #fff;
    font-size: 25px;
    font-style:normal;
    font-weight: 500;
}

/* a partir daqui é tailwind*/